<div class="weekly-news-area pt-50">
  <div class="container">
    <div class="weekly-wrapper">
      <!-- section Tittle -->
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle mb-30">
            <h3>Weekly Top News</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="weekly-news-active dot-style d-flex dot-style">
            <% news.forEach(function(item) { %>
              <div class="weekly-single">
                <div class="weekly-img">
                  <img src="<%= item.imageUrl %>" alt="">
                </div>
                <div class="weekly-caption">
                  <span class="color1"><%= item.source %></span>
                  <span class="color1 date_s"><%= new Date(item.releaseTime).toLocaleDateString() %></span>
                  <span class="color1">
                    <a href="/details/<%= item.id %>" class="read-more-button">Read More</a>
                  </span>
                  <h4>
                    <a href="<%= item.link %>" target="_blank"><%= item.title %></a>
                  </h4>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
